:host{
    position:relative;
    .bf-textareaContainer{
        display:flex;
        line-height: 24px;
        label{
            line-height: 24px;
            text-align: left;
            flex-basis: 25%;
            padding-right: 25px;
        }
        span{
            line-height: 24px;
        }
        p{
            margin:0px 0px;
        }
        .textAreaWrapper{
            position:relative;
        }
        textarea{
            position:fixed;
            width:50%;
            min-width:250px;
            height:150px;
            z-index:999;
        }
        md-icon{
            font-size: .85em;
            cursor: pointer;
            color: red;
        }
    }
    
}